<form class="card mb-3 p-5" [formGroup]="user" (ngSubmit)="onSubmit()">
  <h2>Form Group</h2>
  <div class="card mb-3 p-3">
    <label class="form-label">Name:</label>
    <input class="form-control mb-3" formControlName="name">
    <label class="form-label">Age:</label>
    <input class="form-control" formControlName="age">
  </div>

  <div class="card mb-3 p-3">
    <h2>Contacts Info</h2>
    <div formArrayName="phones" *ngFor="let phones of phones.controls; let i = index">
      <div [formGroupName]="i">

        <label class="form-label">Type:</label>
        <select class="form-select mb-3" formControlName="type">
          <option value="home">Home</option>
          <option value="work">Work</option>
        </select>

        <label for="" class="form-label">Number:</label>
        <input class="form-control mb-3" formControlName="number">
      </div>
    </div>
    <button class="btn btn-secondary" (click)="addPhone()">Add Phone</button>
  </div>

  <button
    class="btn btn-primary"
    type="submit"
  >
    Send
  </button>
</form>
